[profile.default]
src = "src"
out = "out"
libs = ["lib"]

remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
]

# Monad testnet (chain_id: 10143)
[rpc_endpoints]
monad_testnet = "https://testnet-rpc.monad.xyz"
